<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit user</title>
  <link rel="stylesheet" th:href="@{/styles/css/noob.css}"/>
</head>
<body>
<div class="wrap">
  <h1>Edit user</h1>
  <div class="form-wrapper">
    <form th:method="PATCH" th:action="@{/user_{id}(id=${user.getId()})}" th:object="${user}">
      <div>
        <label for="first_name">First name:</label>
        <br/>
        <input type="text" th:field="*{firstName}" id="first_name" required/>
        <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
      </div>
      <div>
        <label for="last_name">Last name:</label>
        <br/>
        <input type="text" th:field="*{lastName}" id="last_name" required/>
        <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
      </div>
      <div>
        <label for="age">Age:</label>
        <br/>
        <input type="text" th:field="*{age}" id="age" required/>
        <div class="error" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
      </div>
      <div>
        <label for="email">Email:</label>
        <br/>
        <input type="text" th:field="*{email}" id="email" required/>
        <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
      </div>
      <input type="submit" value="edit"/>
      <input type="button" value="cancel" onclick="window.location.href='/'"/>
    </form>
  </div>
</div>
</body>
</html>